.header_main {
    font-size: 50px;
}

.visual-icon-container {
    height: 100%;
    width: 100%;
    position: absolute;
    padding: 15px;
    background-color: rgb(14, 14, 14);
    border-width: 1px;
    border-color: rbg(75, 75, 75);
}

visual-icon {
    height: 100%;
    width: 100%;
    -unity-background-scale-mode: scale-to-fit;
}